:root {
    --color1: #0A0A0D;
    --color2: #173440;
    --color3: #467F8C;
    --color4: #2B401C;
    --color5: #8C5F45;
    --fondo: #ffffff;
    --titulos: 50px;
    --subtitulos: 20px;
    --margenes: 80px;
    --espacios: 30px;
    --espacios-contenido: 45px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: top;
}

body {
    font-family: 'open sans';
    background: var(--fondo);
}

header {
    width: 100%;
    height: 80px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav {
    width: 100%;
    position: fixed;
    background: black;

}

.nav1 {

    height: 80px;
    color: #fff;
}

.nav2 {
    background: rgb(0, 0, 0);
    height: 60px;
    color: #fff;
}

.contenedor-nav {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: inherit;
    overflow: hidden;
}

nav .enlace a {
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
}

nav .enlace a:hover {
    border-bottom: 3px solid #fff;
    transition: 0.6s;
}

.logo,
.logo img {
    height: 60px;
}

.icono {
    display: none;
    font-size: 24px;
    padding: 23.5px 20px;
}




/* Main */

.contenedor {
    margin: auto;
    padding: 80px 0;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
    
}

.historias-general {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.content-historias {
    width: 30%;
    background: rgb(217, 217, 217);
    margin-bottom: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
    overflow: hidden;
    height: 530px;
    align-items: baseline;

}


.content-historias img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.texto-historia {
    color: rgb(114, 115, 115);
    padding: 12px 0;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom:5%;
    justify-content: center;
    align-items: baseline;
}
.texto-historia h2{
    margin-top: 20px;
    margin-bottom: 20px;
    color:#467F8C;
    font-size: 20px;
}
.texto-historia p{
    margin-bottom: 20px;
    align-items: baseline;
 
}
.ver-mas{
    background: rgb(86, 161, 179);
    padding: 20px 0;
    justify-content: center;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
    display: flex;
    align-items: flex-end;

}
.ver-mas a{
    text-decoration: none;
    color: #fff;
    padding: 12px 0;
    font-size: 12px;
}
.ver-mas:hover {
    background: rgb(53, 96, 107);
    transition: 0.7s;
}


/* footer */

.footer-contenedor {
    background: #173440;
    height: 300px;
    margin: auto;
    padding: var(--margenes) 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.content-foter {
    width: 90%;
    max-width: 1000px;
    display: flex;
    margin: auto;
    justify-content: row;
    align-items: center;
    color: rgb(94, 169, 185);
}

.info {
    width: 48%;
    color: rgb(94, 169, 185);
    text-align: justify;
}

.info a {
    text-decoration: none;
    color: rgb(94, 169, 185);
}
.info h1{
  font-size: 15px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.social {
    width: 48%;
    text-align: right;
}

.social i {
    color: rgb(94, 169, 185);
}

.fab {
    font-size: 60px;
    padding: 20px;
}

.content-foter a:hover,
i:hover {
    color: rgb(122, 215, 236);
}

.texto-foter {
    margin-left: 10px;

}

.fa-map-marker-alt {
    margin-left: 5px;
}

.info li {
    list-style: none;
    padding-top: 10px;
    text-align: left;
}